@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background;
	}
	body * {
		@apply text-text;
	}
	a:hover {
		@apply opacity-75 underline brightness-75;
	}
	button:hover {
		@apply opacity-75;
	}
	button:active {
		@apply opacity-50 brightness-50;
	}
	a, button { 
		@apply transition-all duration-200 ease-in-out;
	}
}
